db.sqlite3
galleryapp/__pycache__/*
galleryapp/apps/categories/__pycache__/*
galleryapp/apps/categories/migrations/*
galleryapp/apps/products/__pycache__/*
galleryapp/apps/products/migrations/*
galleryapp/apps/socialnetworks/__pycache__/*
galleryapp/apps/socialnetworks/migrations/*
galleryapp/apps/clients/__pycache__/*
galleryapp/apps/clients/migrations/*
galleryapp/apps/orders/__pycache__/*
galleryapp/apps/orders/migrations/*
galleryapp/apps/pessoas/migrations/*
galleryapp/apps/pessoas/__pycache__/*
galleryapp/apps/ingressos/migrations/*
galleryapp/apps/ingressos/__pycache__/*
galleryapp/apps/exposicoes/migrations/*
galleryapp/apps/exposicoes/__pycache__/*
galleryapp/apps/espacos/migrations/*
galleryapp/apps/espacos/__pycache__/*


.venv
venv/
venv/*